body {
    background-color: black;
}

@media (max-width: 768px) {
    nav.main-menu .navbar-nav {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.intro-header {
    height: 500px;
    color: #f8f8f8;
    background: url(../img/site/ocean.jpg) no-repeat;
    background-size: cover;
    background-position: center 50%;
    position: relative;
    text-align: left;
}

.intro-message-sm {
    position: relative;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.68);
    background: linear-gradient(90deg, rgba(0,0,0,0.6306897759103641) 38%, rgba(0,0,0,0) 100%);
    margin-left: -10px;
    margin-top:275px;
    padding-left: 25px;
}

.intro-message-lg {
    position: relative;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.68);
    background: linear-gradient(90deg, rgba(0,0,0,0.6306897759103641) 38%, rgba(0,0,0,0) 100%);
    margin-left: -50px;
    margin-top:275px;
    padding-left: 50px;
}
.intro-message-lg p {
    line-height: 1.2;
    margin-right: 250px;
}

.intro-message-sm p{
    line-height: 1.2;
    margin-right: 50px;
}

.intro-message-sm p.author, .intro-message-lg p.author {
    text-align: right;
}

.intro-message > h1 {
    font-family: "Arima Madurai","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 70px;
    margin-top: 80px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.intro-message > h2 {
    font-family: "Arima Madurai","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    /*font-style: italic;*/
    /*font-weight: bold;*/
    padding: 10px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.carousel-container {
    position: relative;
}

div.carousel-item {
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 300px;
}

.carousel-prev, .carousel-next {
    color: white;
    font-size: 3em;
    position: absolute;
    opacity: 0.7;
    top: 120px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.subtitle {
    font-family: "Arima Madurai","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.6em;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}