---
---

<!DOCTYPE html>
<html>
    <head>
	    {% include head.html %}
        
        <link href="{{ site.baseurl }}/css/home.css" rel="stylesheet">
    </head>

	<body>
		{% include main-menu.html %}

        <section id="home">
        <!-- Header -->
            <div class="intro-header">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-message" style="margin-top:160px">
                                <p style="font-size:40px">"Life is the art of drawing without an eraser."</p>
                                <p style="font-size:25px; font-style: italic;"> &nbsp; &nbsp; &nbsp; &nbsp; - John W. Gardner</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.intro-header -->

            <div class="carousel-container">
                <div class="carousel">
                    {% assign sortedDrawings = site.drawings  | sort: 'date' | reverse %}
                    {% for drawing in sortedDrawings %}
                        {% if drawing.showOnHomepage %}
                        <div style="background-image: url({{ site.baseurl }}{{ drawing.image }})" class="carousel-item">
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="carousel-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                <div class="carousel-next"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
            </div>

            </div>
        </section>

		{% include footer.html %}
        <script>
        $(document).ready(function () {
            $('.carousel').slick({
                slidesToShow: 3,
                slidesToScroll: 3,
                prevArrow: $('.carousel-prev'),
                nextArrow: $('.carousel-next'),
                responsive: [
                    {
                        breakpoint: 900,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
        </script>
        {% include analytics.html %}
	</body>
</html>