---
layout: page
title: Photography
---

<div class="container">
    <div class="row about">
        <div class="col-sm-12">
            <h2>Photography</h2>

            <ul class="gallery">
            {% for photo in site.photos %}
                <li style="background-image: url({{ site.baseurl }}{{ photo.image }});">
                    <a href="{{ site.baseurl }}{{ photo.image }}"></a>

                    {% if photo.showTitle %}
                    <span class="title">{{ photo.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>