---
layout: page
title: Visual Arts
---
<div class="container">
    <div class="row about">
        <div class="col-sm-12">
            <h2>Visual Arts</h2>

            <ul class="gallery">
            {% assign sortedVisualArts = site.visualArts | sort: 'date' | reverse %}
            {% for sortedVisualArt in sortedVisualArts %}
                <li style="background-image: url({{ site.baseurl }}{{ sortedVisualArt.image }});">
                    <a href="{{ site.baseurl }}{{ sortedVisualArt.image }}"></a>

                    {% if sortedVisualArt.showTitle %}
                    <span class="title">{{ sortedVisualArt.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>