<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="footer-menu-links">
                    {% for option in site.menu %}
                    <li>
                        <a href="{{ option.url }}">{{ option.text }}</a>
                    </li>
                        {% if forloop.last == false %}
                            <span class="footer-menu-links-separator">|</span>
                        {% endif %}
                    {% endfor %}
                </ul>

                <p class="copyright text-muted small">Copyright &copy; 2015 <b>allyth.me</b>. All Rights Reserved.</p>
            </div>

            <!--<div class="col-md-4">
                {{ site.credits }}
            </div>-->
        </div>
    </div>
</footer>
